.App {
  text-align: center;
}

.App-header {
  height: '54px';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
