.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
}

.App-link {
  color: #61dafb;
}
