.cheat-sheet-table {
  font-weight: 900;
  width: 100%;
}

.cheat-sheet-table th {
  font-size: larger;
  font-size: 1.8rem;
  padding: 4px 0;
}

.cheat-sheet-table td {
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
  height: 50px;
  white-space: nowrap;
  padding: 0 8px;
  color: white;
}

.cheat-sheet-table td span {
  vertical-align: middle;
}

.cheat-sheet-table,.small-screen td {
  height: 70px;
}

@media screen and (max-width: 899px) {
  .cheat-sheet-table th {
    font-size: 1.2rem;
  }

  .cheat-sheet-table td {
    font-size: 1rem;
    padding: 2px;
  }
}
