.cheat-sheet-table {
  font-weight: 900;
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.cheat-sheet-table th {
  font-size: larger;
  font-size: 1.8rem;
  padding: 4px 0;
  background: #555;
}

.cheat-sheet-table td {
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
  height: 50px;
  white-space: nowrap;
  padding: 0 8px;
}

.cheat-sheet-table tr th,
td {
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
}

.cheat-sheet-table tr th:first-of-type,
td:first-of-type {
  border-left-style: none;
}

.cheat-sheet-table tr th:last-of-type,
td:last-of-type {
  border-right-style: none;
}

@media screen and (max-width: 899px) {
  .cheat-sheet-table th {
    font-size: 1.2rem;
  }

  .cheat-sheet-table td {
    font-size: 1rem;
    padding: 0 2px;
  }
}
