name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

permissions:
  contents: read

jobs:
  verify:
    uses: ./.github/workflows/verify.yml
    secrets: inherit

  deploy-server:
    needs: verify
    runs-on: ubuntu-latest
    concurrency: deploy-${{ inputs.environment }}

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-node

    - name: Build and Deploy Server
      run: |
        cd server
        vercel link --yes --project coup-server
        vercel pull --yes --environment=${{ inputs.environment }} --token=${{ secrets.VERCEL_TOKEN }}
        pnpm build
        vercel build --token=${{ secrets.VERCEL_TOKEN }}
        vercel deploy --prebuilt --target=${{ inputs.environment }} --token=${{ secrets.VERCEL_TOKEN }}

    - name: Build and Deploy Client
      run: |
        cd client
        vercel link --yes --project coup-client
        vercel pull --yes --environment=${{ inputs.environment }} --token=${{ secrets.VERCEL_TOKEN }}
        vercel build --token=${{ secrets.VERCEL_TOKEN }}
        vercel deploy --prebuilt --target=${{ inputs.environment }} --token=${{ secrets.VERCEL_TOKEN }}
